@import url(./global.css);

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 24px;  
    margin-bottom: 2rem;


    .service, .service-desk {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        .service-description {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h2 {
                color: var(--color-white);
                margin-top: 1rem;
                text-align: start;
                font-size: 2rem;
            }

            p {
                max-width: 240px;
                text-align: start;
                font-size: 1rem;
                color: var(--color-white);
            }

            .btn-services {
            display: flex;
            gap: 1rem;
            align-items: center;
            }

        }

        .service-image img {
            max-width: 250px;
            max-height: 300px;
            border-radius: 8px;
        }
    }
}   

